<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css" />
        <!--<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">-->
        <style>
                #confirmation-sent-title{
                        font-family: "Cantarell", sans-serif;
                        font-size: large;
                        font-weight: bold;
                }
        </style>

</head>
<body>
        <div id="announcement-box">
                <!--maybe can use bootstrap badges or status banners to show this instead-->
                <span id="login-box-title">
                        A confirmation has been sent to your email from <!--todo--> email@domain.com.
                </span>
        </div>
</body>
</html>