<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet"/> 
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="jumbotron-image">
        <img src="/img/cropRows.png" width="100%">
        <span id="jumbotron-brand">Logo</span>
        <span id="jumbotron-text">Data-driven sustainable farming</span>
        <div onclick="window.scrollBy(0, window.innerHeight);"><span id="jumbotron-jump" class="glyphicon glyphicon-chevron-down"></span></div>
        </div>
        <div class="row" id="descLoginFrame">
            <div class="col-md-8">Description box</div>
            <div class="col-md-4" id="loginFrame">
                    <div id="loginOrSignup">
                        <span class="loginTitle">Login</span>
                        <a id="signupTitle">Signup</a>
                    </div>
                    <form action="/login" accept-charset="UTF-8" method="post">
                        <input type="hidden" name="authenticity_token" value={{authenticity_token}}/>
                        <input type="hidden" name="return_to" id="return_to" value="" />

                        <fieldset>
                            <label for="login">Username</label>
                            <input type="text" name="login" id="login" tabindex="1" class="text-input" autocorrect="off" autocapitalize="off" />
                        </fieldset>

                        <fieldset>
                            <label for="password">Password <a id="forgottenPassword" href="/password_resets/new">Forgot?</a></label>
                            <input type="password" name="password" id="password" value="" tabindex="2" class="text-input" />
                        </fieldset>

                        <input class="btn btn-olive" type="submit" value="Sign In" tabindex="3" />
                    </form>
        </div>
    </div>
</body>
</html>