<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet"> 
    <style>
        #jumbotron-image {
            position: relative;
            width: 100%;
        }

        #jumbotron-image img {
            width: 100%;
            opacity: 1;
        }

        #jumbotron-text {
            left: 0;
            position: absolute;
            text-align: center;
            top: 180px;
            width: 100%;
            color: white;
            font-size: 75px;
            font-weight: regular;
            font-family: Cantarell;
        }

        #jumbotron-jump {
            left: 0;
            position: absolute;
            text-align: center;
            top: 350px;
            width: 100%;
            color: white;
            font-size: 50px;
        }

        #jumbotron-brand {
            position: absolute;
            text-align: center;
            top: 75px;
            left: 0;
            width: 100%;
            color: white;
            font-size: 75px;
        }

        #descLoginFrame{
             background-color: #333;
        }

        #loginFrame{
            padding: 10px 10px 10px 20px;
        }

        #loginFrame-choice{
            margin: 0 0 5px 0;
        }
        .text-input{
            width:250px;
            border:none;
            border-radius:6px;
            font:18px "Helvetica Neue", helvetica, sans-serif;
            padding:8px 10px;
            margin-right:8px;
            color:#444;
            outline:none
        };

        #loginFrame{
            background-color: #808000;
        }

        label {
            display:block;
            margin:0 0 4px 0;
            font-size:1.4em;
            line-height:1;
            color: white;
        }
        
        fieldset{
            padding: 10px;
        }

        .btn-olive{
            background-color: #808000;
            color: white;
            font-size: 12pt;
            margin: 15px 10px 10px 10px;
        }

        #forgottenPassword{
            color: #5D5D5B;
        }

        #loginOrSignup{
            color: white;
            font-size: 20pt;
            font-weight: bold;
            font-family: Cantarell;
        }

        #signupTitle{
            color: #5D5D5B;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div id="jumbotron-image">
        <img src="/img/cropRows.png" width="100%">
        <span id="jumbotron-brand">Logo</span>
        <span id="jumbotron-text">Data-driven sustainable farming</span>
        <div onclick="window.scrollBy(0, window.innerHeight);"><span id="jumbotron-jump" class="glyphicon glyphicon-chevron-down"></span></div>
        </div>
        <div class="row" id="descLoginFrame">
            <div class="col-md-8">Description box</div>
            <div class="col-md-4" id="loginFrame">
                    <div id="loginOrSignup">
                        <span class="loginTitle">Login</span>
                        <a id="signupTitle">Signup</a>
                    </div>
                    <form action="/login" accept-charset="UTF-8" method="post">
                        <input type="hidden" name="authenticity_token" value={{authenticity_token}}/>
                        <input type="hidden" name="return_to" id="return_to" value="" />

                        <fieldset>
                            <label for="login">Username</label>
                            <input type="text" name="login" id="login" tabindex="1" class="text-input" autocorrect="off" autocapitalize="off" />
                        </fieldset>

                        <fieldset>
                            <label for="password">Password <a id="forgottenPassword" href="/password_resets/new">Forgot?</a></label>
                            <input type="password" name="password" id="password" value="" tabindex="2" class="text-input" />
                        </fieldset>

                        <input class="btn btn-olive" type="submit" value="Sign In" tabindex="3" />
                    </form>
        </div>
    </div>
</body>
</html>